@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none !important;
    text-transform: none;
    color: rgb(85, 85, 85) !important;
    font-size: 0.8rem;
}

section.pl_topBar::before {
    height: 7px;
    width: 100%;

    background-color: silver;
    content: "";
    position: fixed;
    z-index: 99;
}

.navbar-brand {
    margin: 50px 0 0 0;
}

h1.navbar-item {
    font-size: 1.7rem;
    margin: -10px 0 0 0;
}

/* Slider */
.pl_slider {
    height: 500px;

    overflow: hidden;
    position: relative;
}
.pl_slider figure {
    height: 500px;

    top: 0;
    left: 0;

    position: absolute;
}
.pl_slider figure figcaption {
    width: 100%;

    position: absolute;
    bottom: calc(50% - 1rem);

    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 2px black; 
}
.pl_slider figure img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}
#pl_slider_arrow {
    width: 100%;

    position: absolute;
    top: calc(50% - 3rem);
    color: rgb(189, 189, 189);
    font-size: 3.2rem;
}
#pl_slider_arrow:hover {
    cursor: pointer;
    color: white;
}
#pl_slider_arrow:nth-child(3) {
    width: 50%;

    right: 10px;
    text-align: right;
}
#pl_slider_arrow:nth-child(2) {
    width: 50%;

    left: 10px;
    text-align: left;
}

/* Imgs */
.pl_imgs {
    height: auto;
}
.pl_imgs figure {
    margin: 0;
}
.pl_imgs figure:nth-child(1n) {
    margin: 50px 0 50px 0;
}
.pl_imgs figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    border: 1px solid aliceblue;
}